* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  width: auto;
  background-color: ghostwhite;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#tombol {
  width: 8rem;
  height: 4rem;
  background-color: #eee032;
  position: fixed;
  bottom: 2rem;
  border-radius: 40px;
}

#ctk {
  background-color: ghostwhite;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  top: .5rem;
  left: 1rem;
}